@font-face {
  font-family: 'PTSansRegular';
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url("../fonts/OpenSansCondensedLight/opensanscondensed-light.eot");
  src: url("../fonts/OpenSansCondensedLight/opensanscondensed-light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedLight/opensanscondensed-light.woff2") format("woff2"), url("../fonts/OpenSansCondensedLight/opensanscondensed-light.woff") format("woff"), url("../fonts/OpenSansCondensedLight/opensanscondensed-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadProRegular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadProRegular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
  height: 220px;
  background-color: #767676;
}

.header-main {
  background-color: #dcdcdc;
  height: 230px;
  display: flex;
  justify-content: center;
}

.header-main-container {
  width: 980px;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: #777777;
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "PTSansRegular", sans-serif;
  font-size: 30px;
  padding: 0 20px;
  position: relative;
}

nav a::after {
  content: "|";
  position: absolute;
  top: 0;
  right: -3px;
}

nav a:last-child::after {
  display: none;
}

nav a:hover {
  background-image: linear-gradient(to right, white calc(100% - 2*20px), transparent calc(100% - 2*20px));
  background-position: 20px 37px;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 115px;
  height: 115px;
  background-color: #767676;
}

.company-title {
  width: 200px;
  height: 115px;
  padding-left: 14px;
  padding-top: 5px;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 40px;
  line-height: 32px;
  position: relative;
}

.company-title .slogan {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: absolute;
  left: 16px;
  bottom: 0;
}

.contact-phones {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  font-family: "OpenSansCondensedLight", sans-serif;
  font-size: 40px;
  color: #767676;
}

/*# sourceMappingURL=main.css.map */
