@import "_fonts.scss";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 0 auto;
}

footer{
  flex: 0 0 auto;
  height: 220px;
  background-color: #767676;
}

.header-main {
  background-color: #dcdcdc;
  height: 230px;
  display: flex;
  justify-content: center;
}

.header-main-container {
  width: 980px;
  display: flex;
  justify-content: space-between;
}

$nav-a-color: #FFFFFF;
$nav-a-padding: 20px;

nav {
  background-color: #777777;
  padding: 24px 0;
  display: flex;
  justify-content: center;

  a {
    color: $nav-a-color;
    text-decoration: none;
    font-family: "PTSansRegular", sans-serif;
    font-size: 30px;
    padding: 0 $nav-a-padding;
    position: relative;

    &::after {
      content: "|";
      position: absolute;
      top:0;
      right:-3px;
    }

    &:last-child::after {
      display: none;
    }

    &:hover {
      background-image: linear-gradient(to right, $nav-a-color 0%, $nav-a-color 100%);
      background-position: $nav-a-padding 37px;
      background-repeat: no-repeat;
      background-size: calc(100% - 2*#{$nav-a-padding}) 2px;
    }

  }
}

.logo-and-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 115px;
  height: 115px;
  background-color: #767676;
}

.company-title {
  width: 200px;
  height: 115px;
  padding-left: 14px;
  padding-top: 5px;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 40px;
  line-height: 32px;
  position: relative;

  .slogan {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-size: 16px;
    position: absolute;
    left: 16px;
    bottom: 0;
  }

}

.contact-phones {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  list-style: none;
  text-align: right;
  align-self: center;
  font-family: "OpenSansCondensedLight", sans-serif;
  font-size: 40px;
  color: #767676;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-img {
  height: 400px;
  width: 100%;
  background-color: #f8f8f8;
  background-image: url("../img/pixelplus.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.content-wrapper {
  height: 785px;
  width: 980px;
  padding: 30px 0;
  outline:1px solid red;
  display: flex;
}

.content aside {
  min-width: 350px;
  height: 560px;
  padding: 8px 60px 20px 34px;
  background-color: #777777;
  color: #ffffff;
}

.content aside h2 {
  font-family: PTSansBold, sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.content aside section {
  margin-bottom: 24px;
}

.content aside time {
  font-family: PTSansItalic, sans-serif;
  font-size: 14px;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.content aside p {
  font-family: PTSansRegular, sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.content-wrapper main {
  flex-grow: 1;
  color: #767676;
  padding: 8px 30px 20px 58px;
}

.content main h1 {
  font-family: PTSansRegular, sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.content main p {
  font-family: PTSansRegular, sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}








